
#fifa-players-comparison
{
    margin: auto;
    width: 50%;
    margin-bottom: 5%;
    font-size: 67px;
}


div.user-select-none.svg-container
{
    margin-right: 100px;
}

div.css-ffhzg2
{
    background-image: url("https://xbox-store-checker.com/assets/upload/game/2020/06/optimize/9p109hkfh3zt-background.jpg");
}


div.css-1v0mbdj.etr89bj1{

    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.css-1udz1rv.e1tzin5v3{
    text-align: center;
}

p
{
    font-size:20px;
}

div.css-15zrgzn.e16nr0p31{
    font-size: 70px;
}

